/* CSS reset by Eric Meyer
////////////////////////// */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Helpers
////////// */
.clear:before,
.clear:after { 
  content: "\0020"; 
  display: block; 
  height: 0; 
  visibility: hidden; 
} 
.clear:after { 
  clear: both;
}
.clear { 
  zoom: 1;
}
.hide {
  position: absolute;
  top: -999em;
  left: -999em;
}
.img {
  display: block;
  text-indent: -999em; 
  overflow: hidden; 
  background: no-repeat;
}

/* Project CSS
////////////// */
body {
  font: 16px/1.5 'Fjord One', sans-serif;
  color: #444;
  background: #eee url('../images/body.png') center top;
}
a {
  color: #bf0000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  position: relative;
  top: 1px;
}
h1, h2, h3, h4 {
  margin-bottom: 5px;
  color: #000;
}
h1, h2, h3, h4, nav.site, a.button {
  font-size: 14px;
  font-family: 'Convergence', sans-serif;
  text-transform: uppercase;
}
h1.site, h2.site {
  margin-bottom: 0;
  text-transform: none;
}
hgroup.fix-o {
  margin-bottom: 10px;
}
pre {
  padding: 15px 20px;
  font-family: monaco, monospace;
  background: #fff;
  border: 2px solid #ddd;
}
p, pre {
  margin-bottom: 10px;
}
mark {
  color: #666;
  background: #ddd;
}
nav.site li:last-child a {
  padding-right: 0;
}
footer.site {
  padding: 15px 0 20px;
  font-size: 14px;
  color: #999;
}
footer.site a {
  color: #666;
  border-bottom: 1px solid #ccc;
}
footer.site a:hover {
  text-decoration: none;
  border-color: #666;
}
h1.site {
  font-size: 72px;
  line-height: 1.25;
}
h2.site {
  font-size: 24px;
  color: #666;
}
section.site {
  margin-bottom: 30px;
}

.feature-list li {
  margin-top: 5px;
  padding-top: 5px; }
.feature-list li, footer.site {
  border-top: 2px solid #ddd;
}

/* Source code highlighting from `google/code-prettify` */
.pln {
  color: #000
}
.str {  /* string content */
  color: #d34d30
}
.kwd {  /* a keyword */
  color:#2068c1
}
.com {  /* a comment */
  color: #800
}
.typ {  /* a type name */
  color: #800000
}
.lit {  /* a literal value */
  color: #066
}
.pun, .opn, .clo {  /* punctuation, lisp open bracket, lisp close bracket */
  color: #999
}
.tag {  /* a markup tag name */
  color: #008
}
.atn {  /* a markup attribute name */
  color: #606
}
.atv {  /* a markup attribute value */
  color: #080
}
.dec, .var {  /* a declaration; a variable name */
  color: #606
}
.fun {  /* a function name */
  color: red
}

/* Responsiveness */
@media screen and (max-width: 599px) {
  body {
    padding: 30px 20px 0;
  }
  img.site {
    float: right;
    display: block;
    width: 75px;
  }
  h1.site, h2.site {
  }
  h1.site {
    font-size: 250%;
  }
  h2.site {
    font-size: 100%;
  }
  nav.site {
    margin-bottom: 30px;
  }
  nav.site, nav.site a {
    border: dashed #ddd;
    border-width: 1px 0 0;
  }
  nav.site a {
    display: block;
    border-width: 0 0 1px;
    padding: 5px 0;
  }
  pre {
    font-size: 11px;
  }
}
@media screen and (min-width: 600px) {
  body {
    width: 850px;
    margin: 30px auto 0;
  }
  .half {
    -moz-column-count: 2;
    -moz-column-gap: 30px;
    -webkit-column-count: 2;
    -webkit-column-gap: 30px;
    column-count: 2;
    column-gap: 30px;
  }
  header.site {
    position: relative;
    margin: 110px 0 30px;
  }
  nav.site {
    position: absolute;
    top: -45px;
    right: 0;
  }
  nav.site li {
    float: left;
  }
  nav.site a, a.button {
    display: block;
    height: 25px;
    line-height: 26px;
    padding: 0 10px;
  }
  nav.site a {
    margin-left: 10px;
  }
  img.site {
    float: left;
    margin: 15px 30px 0 0;
  }
  footer.site p {
    margin-left: 160px;
  }
  footer.site span.switch {
    display: block;
  }
  .fix-o {
    overflow: auto;
  }
}
